@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.nav-wrap ul li
		margin-bottom: 10px
	
	.header
		h1 
			font-size: 30px
			line-height: 1.4


	.header .down_text .grey_line
		display: none
	.header .down_text a
		font-size: 12px
	.header .down_text
		margin-left: 64px
	.owl-dotss
		margin-top: 15px
	h2
		font-size: 38px
		line-height: 1.4
	.about_us .videoPoster
		height: 460px
	.about_us .video_wrapper_full
		padding-top: 460px
	.who_we_are .who_we_text
		width: 100%
		max-width: 315px
	.our_thesis .our_thesis_text
		width: 100%
		padding-left: 50px
	.our_thesis .theses_links_wrapper .theses_link
		margin-right: 37px
	.what_we_do .what_we_do_text
		width: 100%
		padding-left: 50px
	.what_we_do
		.what_we_do_mobile
			display: block
		
	.what_we_do_content
		display: none
	.chatr
		display: none
	.chatr_tips_wrapper
		display: none
	.what_we_do .what_we_do_text
		padding-bottom: 50px
	.partners_image
		display: none
	.partners
		.partner_images_mobile
			display: block
			img
				width: 100%
	.blog .blog_wrapper
		padding: 0px
		margin-top: -400px
		.blog_kart
			max-width: 600px
			margin: auto
			position: relative
			
				margin-top: -200px
			.img_blog
				height: 400px
			a
				p
					font-size: 26px
					padding: 42px 57px
	.blog_background
		h2
			margin-bottom: 32px
	section
		overflow-x: hidden
		overflow-y: hidden 
	.our_thesis .theses_links_wrapper a
		font-size: 15px
// ≥992px
+media-breakpoint-down(md)
	.header
		height: auto
		.main_header
			height: auto
		.down
			display: none
	.header .owl-carousel
		height: 50vh
		position: relative
		min-height: 420px
		
	.nav-wrap
		display: none
	.header
		h1
			line-height: 56px
			font-size: 40px
			padding-top: 30px
		.owl_block
			position: relative
			
		.main_header
			padding-left: 80px
			padding-bottom: 20px
			height: 100%
			min-height: 360px
		.down_text
			margin-bottom: 42px
			margin-left: 80px

			a
				font-size: 14px
				line-height: 28px
				color: $accent	
				letter-spacing: 1px
		.owl-block
			.slide1
				background-image: url(../img/header_image_one_t.png)
			.slide2
				background-image: url(../img/header_image_two_t.png)
			.slide3
				background-image: url(../img/header_image_one_t.png)


				
	.owl-dotss
		bottom: 35px
		margin-right: 20px
	.about_us
		.block_name
			margin-top: 94px
			margin-left: 80px
			letter-spacing: 1px
		h2
			line-height: 46px
			margin-left: 80px
		.video_block_wrapper
			padding-right: 0px
			margin-top: -5px

		.videoPoster
			width: 606px
			
			display: block
			margin: auto
			text-align: center
			left: 50%
			margin-left: -303px
			height: 342px
			&:hover
				background-size: 100% 100%
			i
				font-size: 9px
				line-height: 0
				margin-left: -2px
				margin-top: -1px
			&:before
				width: 53.5px
				height: 53.5px
				margin: -27px 0 0 -27px
		.video_wrapper_full 
			margin: 0
			height: 1px
			display: block
			text-align: center
			padding-top: 342px
		.videoIframe 
			width: 606px
			margin: auto
			
		.videoPoster:hover:before ,  .videoPoster:focus:before	
			width: 53.5px
			height: 53.5px
			margin: -27px 0 0 -27px
	.who_we_are .advantages_wrapper_mobile .advantages_text_mobile h3
		line-height: 1
	.who_we_are
		h2		
			padding-top: 57px

		.who_we_text
			width: 100%
			max-width: 100%
			margin-left: 0px
			padding: 0px 80px 0px 80px
	.our_thesis
		.block_name
			margin-left: 0px
			letter-spacing: 1px
			margin-top: 66px
			margin-bottom: 10px
		h2
			margin-left: 0px
		.our_thesis_text_wrapper
			padding: 0px
			.our_thesis_text
				padding: 0px 20px	
				margin-top: 0px
	.what_we_do
		.block_name
			margin-top: 65px
			margin-bottom: 9px
			margin-left: 0px
			letter-spacing: 1px
		h2
			margin-left: 0px
		.checkbox_what_we_do
			.checkbox_what_we_do_img_slide_1 , .checkbox_what_we_do_img_slide_2 , .checkbox_what_we_do_img_slide_3 , .checkbox_what_we_do_img_slide_4
				img
					padding-left: 50px
		.what_we_do_mobile
			margin-top: -9px
		.marketplace_look
			padding: 0px 30px
			h2
				margin-top: 66px
				font-size: 20px
				margin-bottom: 22px
			.marketplace_look_one
				.marketplace_look_header
					font-size: 16px
					padding: 10px 10px 0px 10px
					a
						font-size: 16px
						padding-bottom: 0px
				.marketplace_look_header_link
					padding: 0px
	.partners
		.block_name
			margin-top: 18px
			margin-left: 80px
			letter-spacing: 1px
			margin-bottom: 10px
		h2
			margin-left: 80px
	.partners .partners_text
		margin-left: 80px
	.partners .partner_images_mobile
		margin-top: 47px
		img
			width: 190px
			margin-left: 30px
			margin-top: 25px
	.blog
		margin-top: 63px
		h2
			margin-left: 80px
		.block_name
			margin-top: 72px
			margin-left: 82px
			letter-spacing: 1px
			margin-bottom: 10px
	.blog .blog_wrapper .blog_kart a .blog_arrow
		width: 60px
		padding: 20px 0px
	.contacts 
		margin-top: 65px
		height: auto
	.get_in_touch
		margin-left: 0px
		width: 100%
		margin-bottom: 0px
		position: relative
		bottom: 0
		z-index: 9

		.block_name
			margin-top: 73px
			margin-left: 80px
			letter-spacing: 1px
			margin-bottom: 10px
		.contact_info
			margin-left: 80px
			line-height: 55px
			margin-top: 37px
		h2
			margin-left: 80px
	#map
		width: 100%
		padding-left: 0px
		position: relative
		height: auto
		
	

	.main_header_wwrapper
		height: 50vh
		min-height: 420px
	.header
		.logo_mobile
			display: block
			position: absolute
			left: 30px
			top: 5px
			img
				width: 60px
				margin-top: 20px
	.wrapper
		.nav-wrap
			display: flex
			align-items: flex-start
			min-height: 497px
			overflow: visible
			ul
				li
					margin-bottom: 18px
				.active .blu_line
					width: 100px
			.social_wrap
				text-align: left
				margin-left: 36px
			.logo
				img
					width: 100px
					margin-left: 36px
		.menu
			max-width: 382px
	footer
		display: block
		.logo_footer
			img
				width: 100px
				margin-top: 75px
				margin-left: 40px
				margin-bottom: 20px
		a
			display: block
			font-family: Roboto;
			font-style: normal
			font-weight: 500
			font-size: 24px
			line-height: 28px
			color: #485061
			margin-top: 25px
			margin-left: 40px
			text-decoration: none
			&:hover
				color: #485061
			&:active
				text-decoration: none
		.social_footer
			margin-top: 50px
			a
				display: inline
		p
			font-family: Roboto;
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 26px
			color: #758199
			margin-left: 40px
			margin-right: 40px
			margin-top: 30px
			padding-top: 20px
			border-top: 1px #DCE2ED solid
// ≥768px
+media-breakpoint-down(sm)
	.about_us .videoPoster
		width: 480px
		height: 280px
		margin-left: -240px
	.about_us .videoIframe
		width: 480px
		height: 280px
	.who_we_are .advantages_wrapper_mobile
		margin-left: 77px
	.our_thesis h2
		text-align: left
		margin-left: 20px
	.our_thesis .block_name
		margin-left: 20px
		text-align: left
	.our_thesis .our_thesis_text_wrapper .our_thesis_text
		text-align: left
		font-size: 16px
	.about_us
		h2
			margin-left: 20px
			padding-top: 0px
		.block_name
			margin-left: 20px
	.who_we_are .who_we_text
		padding: 0px 20px
	.what_we_do
		.block_name
			text-align: left
			margin-left: 20px
		h2
			text-align: left
			margin-left: 20px
		.what_we_do_text 
			padding-left: 20px
			text-align: left
	.what_we_do .marketplace_look .marketplace_look_two
		margin-top: 20px
	.partners 
		.block_name
			margin-left: 20px
		h2
			margin-left: 20px
		.partners_text
			max-width: 100%
			padding: 0px 20px
			margin-left: 0px
		.partner_images_mobile
			img
				position: relative
				margin: auto
				&:first-child
					right: -60px
					z-index: 9
				&:last-child
					left: -60px
					top: -50px
	.blog
		.blog_background
			background-color: #fff
		.block_name
			margin-top: 0px
			margin-left: 20px
		h2
			margin-left: 20px
		.blog_wrapper
			padding: 0px 20px
			.blog_kart
				.img_blog
					height: 250px
	.wrapper .nav-wrap .logo
		margin-top: 10px
		img
			width: 60px
	footer
		a
			font-size: 20px
	.owl-dotss
		display: none
	.header
		.owl-block
			.slide1
				background-image: url(../img/header_image_one_m.png)
			.slide2
				background-image: url(../img/header_image_two_m.png)
			.slide3
				background-image: url(../img/header_image_one_m.png)	
// ≥576px
+media-breakpoint-down(xs)
	.header .logo_mobile img
		margin-top: 5px
		margin-left: -10px
	
	.main_header_wwrapper 
		min-height: 363px
	.header
		.main_header
			padding-left: 0px
		h1
			font-family: Khula;
			font-style: normal
			font-weight: 600
			font-size: 28px
			line-height: 38px
			color: #22242A
			padding-right: 20px
			padding-left: 20px
			vertical-align: top
			padding-top: 89px
		.down_text 
			margin-left: 20px
			a
				font-size: 10px
	footer
		a
			font-size: 14px
	.header .owl-carousel
		min-height: 214px
	.block_name
		font-size: 10px
	.about_us .block_name
		margin-top: 66px
	h2
		font-size: 28px
	.about_us .videoPoster
		width: 280px
		height: 157px
		margin-left: -140px
	.about_us .videoIframe
		width: 280px
		height: 157px
	.about_us .video_wrapper_full
		padding-top: 202px
	.who_we_are .who_we_text
		font-size: 16px
		margin-bottom: 5px
		line-height: 29px
	.who_we_are .advantages_wrapper_mobile
		margin-left: 17px
	.who_we_are .advantages_wrapper_mobile .advantages_text_mobile p
		padding-right: 20px
	.our_thesis .our_thesis_text_wrapper
		.our_thesis_text

			line-height: 27px
		.span_active
			color: #758199
			font-weight: normal
			font-size: 16px
	.our_thesis .theses_links_wrapper_mobile .checkbox_our_theses
		padding-right: 40px
	.our_thesis .theses_links_wrapper_mobile .checkbox_our_theses label
		margin-left: 20px
		padding-left: 17px
		font-size: 16px
		span
			margin-left: -32px
	.our_thesis .theses_links_wrapper_mobile .checkbox_our_theses 
		.our_thesis_slide_img_1 ,.our_thesis_slide_img_2,.our_thesis_slide_img_3,.our_thesis_slide_img_4,.our_thesis_slide_img_5,.our_thesis_slide_img_6,.our_thesis_slide_img_7
			img
				padding-left: 20px
				padding-right: 0px
				padding-top: 0px
	.our_thesis .theses_links_wrapper_mobile .checkbox_our_theses label
		padding-top: 10px
		padding-bottom: 10px
		padding-right: 30px
	.what_we_do .checkbox_what_we_do label
		margin-left: 20px
		padding-left: 17px
		font-size: 16px
		span
			margin-left: -32px
	.what_we_do .checkbox_what_we_do
		padding-right: 40px
		.checkbox_what_we_do_img_slide_1 , .checkbox_what_we_do_img_slide_2 , .checkbox_what_we_do_img_slide_3 , .checkbox_what_we_do_img_slide_4
			img
				padding-left: 20px
				padding-right: 0px
				padding-top: 0px
				margin-left: 10px		
	.what_we_do .marketplace_look
		padding: 0px 20px
	.partners .partners_text
		p
			font-size: 16px
			line-height: 27px
	.partners .partner_images_mobile 
		margin-top: 3px
		img
			width: 163px
		img:first-child
			right: -60px
			width: 163px
	.blog 
		margin-top: 30px
	.blog .blog_wrapper .blog_kart .img_blog
		height: 202px
	.blog .blog_wrapper .blog_kart a p
		padding: 27px
		font-size: 16px
		line-height: 26px
		height: 183px
	.blog .blog_wrapper .blog_kart a .blog_arrow
		width: 40px
		padding: 10px 0px
	.get_in_touch
		height: 277px
		.block_name
			margin-left: 20px
			margin-top: 53px
		h2
			margin-left: 20px
			margin-bottom: 0px
		.contact_info
			margin-left: 20px
			margin-top: 10px
			font-size: 16px
			line-height: 35px
	footer
		.logo_footer img
			margin-left: 5px
			width: 60px
			margin-top: 20px
		a
			margin-left: 4px
			margin-top: 10px
	footer
		.social_footer 
			margin-top: 28px
			a
				i
					font-size: 28px
					margin-right: 28px
		p
			margin-right: 0px
			margin-left: 0px
			margin-top: 14px
			padding-top: 15px
			font-size: 13px
	.menu
		width: 100%
	.wrapper .nav-wrap .logo img
		margin-left: 20px
	.nav-wrap 

		ul
			padding-left: 20px
			li
				margin-bottom: 0px
				a
					font-size: 20px
	.wrapper .nav-wrap .social_wrap
		margin-left: 20px
	.wrapper .nav-wrap ul .active .blu_line
		display: none
		
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
